{{ define "main" }}
<article class="page page-single">
  <h1>{{ .Title }}</h1>
  {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>{{ end }}
  <div class="content">{{ partial "content.html" . }}</div>
  {{ with .Params.categories }}
  <p class="taxonomy">Categories: {{ range . }}<a href="{{ "categories/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</p>
  {{ end }}
  {{ with .Params.tags }}
  <p class="taxonomy">Tags: {{ range . }}<a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> {{ end }}</p>
  {{ end }}
</article>
{{ end }}
