{{ define "main" }}
<article class="page page-list page-texts">
  <h1>{{ .Title }}</h1>
  <div class="content">{{ .Content }}</div>
  {{ $groups := slice
      (dict "key" "poetry" "label" (cond (eq .Language.Lang "ru") "Поэзия" "Poetry"))
      (dict "key" "essays" "label" (cond (eq .Language.Lang "ru") "Эссе и публикации" "Essays & published texts"))
  }}
  {{ range $groups }}
    {{ $pages := where $.Pages "Params.group" .key }}
    {{ if $pages }}
    <h2 class="group-heading">{{ .label }}</h2>
    <ul class="post-list">
      {{ range $pages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span class="post-title">{{ .Title }}</span>
          {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006" }}</time>{{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
</article>
{{ end }}
