{{ define "main" }}
<article class="page page-home">
  <h1>{{ .Title }}</h1>
  <div class="content">{{ partial "content.html" . }}</div>
  {{ with .Site.GetPage "/press" }}
    {{ if .Pages }}
    <h2 class="group-heading">{{ if eq $.Site.Language.Lang "ru" }}Пресса{{ else }}Press{{ end }}</h2>
    <ul class="post-list">
      {{ range .Pages.ByDate.Reverse }}
      {{ partial "post-li.html" (dict "page" . "dateFormat" "2006") }}
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
</article>
{{ end }}
