{{ define "main" }}
<article class="page page-home">
  <h1>{{ .Title }}</h1>
  <div class="content">{{ .Content }}</div>
  {{ with .Site.GetPage "/press" }}
    {{ if .Pages }}
    <h2 class="group-heading">{{ if eq $.Site.Language.Lang "ru" }}Пресса{{ else }}Press{{ end }}</h2>
    <ul class="post-list">
      {{ range .Pages.ByDate.Reverse }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span class="post-title">{{ .Title }}</span>
          {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006" }}</time>{{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
</article>
{{ end }}
